<html>
   <head>
      <title>Paytm JS Checkout - NodeJs</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <script type="application/javascript" crossorigin="anonymous" src="https://<%= data.env %>/merchantpgpui/checkoutjs/merchants/<%= data.mid %>.js"></script>
	  <script type="application/javascript" crossorigin="anonymous" src="script.js"></script>
   </head>
   <body>
      <div class="container text-center">
      	<div class="shadow p-3 mb-5 bg-white rounded">
      		<h2>Paytm JS Checkout - NodeJs</h2>
         	<h4>Make Payment</h4>
        	<p>You are making payment of ₹1</p>
	        <div class="btn-area">
	            <button type="button" id="jsCheckoutPayment" name="submit" class="btn btn-primary">Pay Now</button>
	        </div>
      	</div>
      </div>
      <script>
      	
         document.getElementById("jsCheckoutPayment").addEventListener("click", function(){
         		openJsCheckoutPopup('<%= data.orderid %>','<%= data.txntoken %>','<%= data.amount %>'); 
         	}
         );
         
      </script>
   </body>
</html>